In [2]:
import pandas as pd
import numpy as np
from math import sqrt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [3]:
salaries = pd.read_csv(r"C:\Users\Administrator\Desktop\salaries.csv")
salaries.head()

       rank discipline  yrs.since.phd  yrs.service   sex  salary
0      Prof          B             19           18  Male  139750
1      Prof          B             20           16  Male  173200
2  AsstProf          B              4            3  Male   79750
3      Prof          B             45           39  Male  115000
4      Prof          B             40           41  Male  141500

In [4]:
print("General INFORMATION")
print(salaries['rank'].value_counts())
print()
print(salaries['discipline'].value_counts())
print()
print(salaries['sex'].value_counts())

General INFORMATION
Prof         266
AsstProf      67
AssocProf     64
Name: rank, dtype: int64

B    216
A    181
Name: discipline, dtype: int64

Male      358
Female     39
Name: sex, dtype: int64

In [5]:
#checking missing or nan values
salaries.isnull().sum()

rank             0
discipline       0
yrs.since.phd    0
yrs.service      0
sex              0
salary           0
dtype: int64

No missing or NaN values present

In [6]:
#checking salaries is a dataframe
type(salaries)

pandas.core.frame.DataFrame

In [7]:
descb_df = salaries.describe()
descb_df

       yrs.since.phd  yrs.service         salary
count     397.000000   397.000000     397.000000
mean       22.314861    17.614610  113706.458438
std        12.887003    13.006024   30289.038695
min         1.000000     0.000000   57800.000000
25%        12.000000     7.000000   91000.000000
50%        21.000000    16.000000  107300.000000
75%        32.000000    27.000000  134185.000000
max        56.000000    60.000000  231545.000000

In [8]:
#Dropping salary(target) column, and assigning salary to y
X = salaries.drop('salary', axis=1)
y = salaries.salary

In [9]:
#training dataset
X

         rank discipline  yrs.since.phd  yrs.service   sex
0        Prof          B             19           18  Male
1        Prof          B             20           16  Male
2    AsstProf          B              4            3  Male
3        Prof          B             45           39  Male
4        Prof          B             40           41  Male
..        ...        ...            ...          ...   ...
392      Prof          A             33           30  Male
393      Prof          A             31           19  Male
394      Prof          A             42           25  Male
395      Prof          A             25           15  Male
396  AsstProf          A              8            4  Male

[397 rows x 5 columns]

In [10]:
#target dataset
y

0      139750
1      173200
2       79750
3      115000
4      141500
        ...
392    103106
393    150564
394    101738
395     95329
396     81035
Name: salary, Length: 397, dtype: int64

In [11]:
#encoding categorical Variables
encode_X = pd.get_dummies(X)
print("="*30,"Dataframe after encoding", "="*30)
encode_X

============================== Dataframe after encoding ==============================

,yrs.since.phd,yrs.service,rank_AssocProf,rank_AsstProf,rank_Prof,discipline_A,discipline_B,sex_Female,sex_Male
0,19,18,0,0,1,0,1,0,1
1,20,16,0,0,1,0,1,0,1
2,4,3,0,1,0,0,1,0,1
3,45,39,0,0,1,0,1,0,1
4,40,41,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...
392,33,30,0,0,1,1,0,0,1
393,31,19,0,0,1,1,0,0,1
394,42,25,0,0,1,1,0,0,1
395,25,15,0,0,1,1,0,0,1
396,8,4,0,1,0,1,0,0,1

In [12]:
print("Shape after encoding: ", encode_X.shape)

Shape after encoding:  (397, 9)

In [13]:
#spliting the dataset into train and test
encode_X_train, encode_X_test, y_train, y_test = train_test_split(encode_X, y,test_size=0.2,random_state=0)

# LINEAR REGRESSION

In [14]:
#instantiating linear regression
lr = LinearRegression()

In [15]:
lr.fit(encode_X_train, y_train)

LinearRegression()

In [16]:
print("Train score: ", lr.score(encode_X_train, y_train))
print("Test score: ", lr.score(encode_X_test,y_test))

Train score:  0.44133863604201573
Test score:  0.49820254453296287

These scores are very low

In [17]:
print("Value of coefficients: ","\n", lr.coef_)

Value of coefficients:
 [   496.69472376   -499.51818621  -7128.16397905 -20214.17064908
  27342.33462813  -6896.71564703   6896.71564703  -1343.50126094
   1343.50126094]

In [18]:
print("Intercept: ", lr.intercept_)

Intercept:  96769.1461424616

In [31]:
predicted_sal = lr.predict(encode_X_test)
predicted_sal_df = pd.DataFrame(predicted_sal)

In [32]:
print(y_test, predicted_sal_df)

65     100522
132     77500
74     113398
78      86100
37      86373
        ...
268     89650
234     69700
145    119015
164     88795
124     96614
Name: salary, Length: 80, dtype: int64                 0
0    98355.306096
1    82371.567003
2   134770.231661
3    85785.758386
4    86273.982723
..            ...
75  119924.118208
76   73476.764339
77  132272.640730
78   85291.887125
79  119489.539658

[80 rows x 1 columns]

In [21]:
rms = sqrt(mean_squared_error(y_test,predicted_sal_df ))
print("RMS error: ", rms)

RMS error:  18075.822749055173

RMS error value is high.
The model has to be further improved a lot

# ---------------------------------END-----------------------------------------